<h1>Register Page</h1>
<form #f="ngForm" (ngSubmit)="registerSubmitHandler(f.value)">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" ngModel>
    </div>
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" ngModel>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" ngModel>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" ngModel>
    </div>
    <button>Submit</button>
</form>