<nav role="navigation">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/contacts">Contact Us</a></li>
    <li><a href="#">Recipes</a>
      <ul class="dropdown">
        <li *ngIf="authToken"><a routerLink="/recipes/create">Create new recipe</a></li>
        <li><a routerLink="/recipes/all">All recipes</a></li>
      </ul>
    </li>
    <li class="right" *ngIf="!authToken"><a routerLink="/auth/login">Login</a></li>
    <li class="right"  *ngIf="!authToken"><a routerLink="/auth/register">Register</a></li>
    <li  class="right" *ngIf="authToken"><a (click)="logout()">Logout</a></li>
  </ul>
</nav>
<br>